.product {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  margin: 10px;
  padding-top: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border-radius: 20px;
  color: #111;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  overflow: hidden;
}

.product_rating {
  display: flex;
}

.button-wrap > button {
  background: #f0c14b;
  width: 100px;
  border: 1px solid;
  padding-left: 5px;
  border-radius: 10px;
  padding: 4px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product_price {
  margin-top: 5px;
}

.button-wrap {
  padding-left: 10px;
}

.product_info {
  height: 100px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}
